<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Organisation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="organisation" class="ion-padding">
  <ion-item>
    <ion-label class="ion-padding">Name: {{organisation.name}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-padding">Hours: {{organisation.openTime}} - {{organisation.closeTime}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-padding">Days: {{organisation.organizationStartDay}} - {{organisation.organizationEndDay}}</ion-label>
  </ion-item>
  <ion-item>
      <ion-label class="ion-padding">Email: {{organisation.email}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-padding">Contact Details: {{organisation.phoneNumber}}</ion-label>
  </ion-item>
  
  <ion-button color="primary" shape="round" expand="block" (click)="viewDirections(organisation.organizationId)">View Directions</ion-button>
</ion-content>
