#map {
    width: 100%;
    height: 100%;
}
#c {
    max-height: 200px;
    overflow: scroll;
    position: absolute;
    z-index: 1;
}

ion-icon{
    font-size: 0.75cm;
    padding-left: 0.2cm;
    padding-right: 0.2cm;
}

