<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
     <ion-icon name="arrow-back" (click)="Back()"></ion-icon>
    </ion-buttons>
  <ion-title>Appointment</ion-title>
</ion-toolbar>
</ion-header>

<ion-content *ngIf="appointmentDetails" class="ion-padding">
  <ion-item>
    <ion-label class="ion-padding">Ticket Number : {{appointmentDetails.ticketNumber}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-padding">Type Of Service : {{appointmentDetails.typeOfServiceName}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating" class="ion-padding">Appointment Date :</ion-label>
    <ion-datetime displayFormat="DD MMM YYYY HH:mm" minuteValues="0,15,30,45" value="{{appointmentDetails.date}}" disabled></ion-datetime>
  </ion-item>
  <ion-item class="ion-padding">
    <ion-label>Consultant Name : {{appointmentDetails.consultantNameSurname}}</ion-label>
  </ion-item>
  <ion-item class="ion-padding">
    <ion-label>Organization Name : {{appointmentDetails.organizationName}}</ion-label>
  </ion-item>
  <ion-button color="primary" shape="round" expand="block" (click)="ViewOrganizationLocation(appointmentDetails.organizationId)">View Organization Details</ion-button>
</ion-content>
