ion-item-border {
    border-radius: 20px !important;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

ion-icon{
    font-size: 0.75cm;
    padding-left: 0.2cm;
}