<ion-header>
  <ion-toolbar color="primary">
    <ion-title >
      Queue manager
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Username</ion-label>
    <ion-input [(ngModel)]="user.username" placeholder="Username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input [(ngModel)]="user.password" type="password" placeholder="password"></ion-input>
  </ion-item>
  <ion-button color="primary" shape="block" (click)="login(user)">Login</ion-button>
  <ion-button color="danger" shape="block" (click)="register()">Register</ion-button>
</ion-content>
