<ion-header>
  <ion-toolbar color="primary">
    <ion-title >
      Dynamic Programmers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding">
  <ion-item class="ion-padding" position="floating">
    <ion-icon name="person" color="primary"></ion-icon><ion-input [(ngModel)]="user.username" placeholder="Username"></ion-input>
  </ion-item>
  <ion-item class="ion-padding" position="floating">
    <ion-icon name="lock" color="primary"></ion-icon><ion-input [(ngModel)]="user.password" type="password" placeholder="password"></ion-input>
  </ion-item>
  <ion-button color="primary" shape="round" expand="block" (click)="login(user)">Login</ion-button>
  <ion-button color="danger"shape="round" expand="block" (click)="register()">Register</ion-button>
</ion-content>
