<ion-header>
  
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New Ticket</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="floating"><h2>Type of Service</h2></ion-label>
          <ion-select [(ngModel)]="appointment.typeOfServiceId" (ngModelChange)="GetOrganizations($event)">
            <ion-select-option value="{{item.id}}" *ngFor="let item of typeOfService" >{{item.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating"><h2>Organization</h2></ion-label>
          <ion-select [(ngModel)]="appointment.organizationId" (ngModelChange)="GetConsultant($event)">
            <ion-select-option value="{{item2.id}}" *ngFor="let item2 of organisation" >{{item2.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating"><h2>Consultant</h2></ion-label>
          <ion-select [(ngModel)]="appointment.consultantId" >
            <ion-select-option value="{{item3.id}}" *ngFor="let item3 of consultant" >{{item3.name +' '+ item3.surname}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating"><h2>Date Of Appointment</h2></ion-label>
            <ion-datetime  displayFormat="DD MMM YYYY HH:mm" minuteValues="0,15,30,45"  [(ngModel)]="appointment.date"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating"><h2>Reason for Appointment</h2></ion-label>
          <ion-input [(ngModel)]="appointment.reason" placeholder="Reason for Appointment"></ion-input>
        </ion-item>
        <ion-button color="danger" shape="block" (click)="CreateAppointment(appointment)">Accept</ion-button>
</ion-content>
